{% extends "layout.html" %}

{% block content %}

<div class="page-login">
    <div class="ui centered grid container">
      <div class="nine wide column">
        {% if failure %}
        <div class="ui icon warning message">
            <i class="lock icon"></i>
            <div class="content">
              <div class="header">
                Issue detected!
              </div>
              <p>{{ failure }}</p>
            </div>
          </div>
        {% endif %}
        {% if new_user %}
        <div class="ui success message">
          <div class="header">
            Your user registration was successful.
          </div>
          <p>You may now log-in with the username you have chosen</p>
        </div>
        {% endif %}
        <div class="ui fluid card">
          <div class="content">
            <form class="ui form" method="post" action="/user_entry">
              <div class="field">
                <label>User</label>
              <input type="text" name="username" placeholder="Enter your username" />
              </div>
              <div class="field">
                <label>Password</label>
              <input type="password" name="password" placeholder="Enter your password" />
              </div>
              <button class="ui primary labeled icon button" type="submit">
                <i class="unlock alternate icon"></i>
                Login
              </button>
          </form>
          <button class="ui primary labeled icon button" type="submit" onclick="location.href='/register'">
            <i class="unlock alternate icon"></i>
            Register
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}