{% extends "layout.html" %}

{% block content %}
    <h1><a href="/">Back to index</a>
        <i class="angle double right icon"></i>
        {{ strategy.name.replace("_", " ").title() }}
    </h1>

    {% if info %}
        <div class="ui success icon message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    Your order/s have been submitted.
                </div>
                <p>Please, check your email for further information.</p>
            </div>
        </div>
    {% endif %}

    <div>
        <button class="ui right labeled icon button" onclick="location.href='/place_order/{{ strategy.id }}'">
            <i class="dollar icon"></i>
            Place orders
        </button>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %} 
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}