{% extends "layout.html" %}
{% set active_page = "/strategies" %}

{% block content %}

<h1>Strategies</h1>

<div class="ui two column grid">
    {% for strategy in strategies %}
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="\..\images\stock.png">
        </div>
        <div class="content">
          <a href="/strategy/{{ strategy.id }}" class="header">{{ strategy.name }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}